* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(52,77,204);
    background: linear-gradient(176deg, rgba(52,77,204,1) 0%, rgba(29,57,54,1) 100%);
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(16, 230, 16);
    box-shadow: 0 0 40px rgb(16, 230, 16);
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
    width: 90%;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
  }
  
  .links-list li {
    width: 80%;
    margin: 10px 20px;
  }
  
  .links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
  
  .links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .links-list li a.active {
    border: 3px solid rgb(16, 230, 16);
    box-shadow: 0 0 5px rgb(16, 230, 16);
  }